#bulbasaur *
{
    position: absolute;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
    border: none;
}

#bulbasaur
{
    position: relative;
    width: 111px;
    height: 120px;
    margin: 0 auto;
}

#bulbasaur .head
{
    top: 104px;
    left: 72px;
    height:130px;
    width:180px;
    border-top-left-radius: 75%;
    -webkit-border-top-left-radius: 75%;
    -moz-border-radius-topleft: 75%;
    border-top-right-radius: 75%;
    -webkit-border-top-right-radius: 75%;
    -moz-border-radius-topright: 75%;

    border-bottom-left-radius: 80%;
    -webkit-border-bottom-left-radius: 80%;
    -moz-border-radius-bottomleft: 80%;
    border-bottom-right-radius: 80%;
    -webkit-border-bottom-right-radius: 80%;
    -moz-border-radius-bottomright: 80%;
    border-top: 1px solid #000000;
}

#bulbasaur .head .jaw
{
    top:-30px;
    left: 30px;
    height:200px;
    width:120px;
    border-top-right-radius: 100%;
    -webkit-border-top-right-radius: 100%;
    -moz-border-radius-topright: 100%;
    border-bottom-right-radius: 100%;
    -webkit-border-bottom-right-radius: 100%;
    -moz-border-radius-bottomright: 100%;
    transform: rotate(93deg);
    -ms-transform: rotate(93deg);
    -webkit-transform: rotate(93deg);
    border-right: 1px solid #000000;
}

#bulbasaur .head .mouth
{
    top:15px;
    left: 70px;
    height:140px;
    width:30px;
    border-top-right-radius: 40%;
    -webkit-border-top-right-radius: 40%;
    -moz-border-radius-topright: 40%;
    border-bottom-right-radius: 40%;
    -webkit-border-bottom-right-radius: 40%;
    -moz-border-radius-bottomright: 40%;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    border-right: 1px solid #000000;
}

#bulbasaur .head .left-ear
{
    top: -5px;
    left: 118px;
    width: 30px;
    height: 40px;
    transform: rotate(76deg) skew(11deg, 0deg);
    -ms-transform: rotate(76deg) skew(11deg, 0deg);
    -webkit-transform: rotate(76deg) skew(11deg, 0deg);
    border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
}

#bulbasaur .head .right-ear
{
    top: 0px;
    left: 10px;
    width: 40px;
    height: 45px;
    transform: rotate(20deg) skew(11deg, 0deg);
    -ms-transform: rotate(20deg) skew(11deg, 0deg);
    -webkit-transform: rotate(20deg) skew(11deg, 0deg);
    border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
}

#bulbasaur .head .left-eye
{
    top: 30px;
    left: 118px;
    width: 40px;
    height: 40px;
    border-radius: 55px 55px 20px 20px/ 90px 90px 20px 20px;
    transform: rotate(-5deg) skew(-3deg, 0deg);
    -ms-transform: rotate(-5deg) skew(-3deg, 0deg);
    -webkit-transform: rotate(-5deg) skew(-3deg, 0deg);
    border: 1px solid #000000;
}