/* Pokemon in CSS - Created by AJ Funk */
#weedle *
{
    position: absolute;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
    border: none;
}

#weedle
{
    position: relative;
    width: 111px;
    height: 0;
    margin: 0 auto;
}

/* HEAD */
#weedle .head
{
    top: 50px;
    left: -5px;
    height:108px;
    width:108px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1px solid #000000;
    background-color: #f2c968;
}

#weedle .head .horn-shadow
{
    top: 7px;
    left: 60px;
    height:12.5px;
    width:33px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transform: rotate(195deg);
    -ms-transform: rotate(195deg);
    transform: rotate(195deg);
    background-color: #cd9357;
}

#weedle .head .horn-outline
{
    top: -37px;
    left:55px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid #000000;
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#weedle .head .horn
{
    top: 2px;
    left: -19px;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 47px solid #def0e6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#weedle .head .horn .shadow
{
    top: 8px;
    left: -10px;
    border-left: 13px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 39px solid #b4c5bb;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#weedle .head .horn .shadow2
{
    top: 44px;
    left: -9px;
    height:6px;
    width:26.4px;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background-color: #b4c5bb;
}

#weedle .head .horn .shadow3
{
    top: 43.4px;
    left: -11px;
    border-left: 2.2px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid #b4c5bb;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
}

#weedle .head .horn-outline .horn-base
{
    top: 41px;
    left: -19px;
    height:10px;
    width:36px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1px solid #000000;
    background-color: #def0e6;
}

#weedle .head .nose
{
    top: 40px;
    left: -10px;
    height:30px;
    width:55px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
    transform: rotate(200deg);
    border: 1px solid #000000;
    background-color: #c86ca2;
    box-shadow: 8px 8px 1px #97446c inset;
}

#weedle .head .light
{
    bottom: 4px;
    right: 4px;
    height:10px;
    width:14px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #fbdde0;
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
}

#weedle .head .eye-left
{
    top: 35px;
    left: 65px;
    height:15px;
    width:13px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
    background-color: #221e1f;
}

#weedle .head .eye-left .pupil
{
    top: 1px;
    left: 3px;
    height:8px;
    width:7px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background-color: #ffffff;
}

#weedle .head .eye-right
{
    top: 20px;
    left: 13px;
    height:13px;
    width:9px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    background-color: #221e1f;
}

#weedle .head .eye-right .pupil
{
    top: 1px;
    left: 2px;
    height:6px;
    width:5px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background-color: #ffffff;
}

/* BODY */
#weedle .body1
{
    top: 135px;
    left: 5px;
    height:65px;
    width:75px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    border: 1px solid #000000;
    background-color: #f2c968;
}

#weedle .body1 .shadow
{
    top: 0px;
    left: 0px;
    height: 30px;
    width:65px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    background-color: #cd9357;
}

#weedle .body2
{
    top: 175px;
    left: 17px;
    height:55px;
    width:65px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1px solid #000000;
    background-color: #f2c968;
}

#weedle .body3
{
    top: 205px;
    left: 34px;
    height:50px;
    width:60px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
    border: 1px solid #000000;
    background-color: #f2c968;
}

#weedle .body4
{
    top: 227px;
    left: 55px;
    height:44px;
    width:52px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    transform: rotate(-55deg);
    border: 1px solid #000000;
    background-color: #f2c968;
}

#weedle .body5
{
    top: 239px;
    left: 83px;
    height:41px;
    width:49px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    transform: rotate(-70deg);
    border: 1px solid #000000;
    background-color: #f2c968;
}

#weedle .body6
{
    top: 240px;
    left: 110px;
    height:38px;
    width:45px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    border: 1px solid #000000;
    background-color: #f2c968;
}

#weedle .body7
{
    top: 235px;
    left: 135px;
    height:32px;
    width:39px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    border: 1px solid #000000;
    background-color: #f2c968;
}

/* LEFT FEET */
#weedle .body1 .left-foot
{
    top: 35px;
    left: 42px;
    height:15px;
    width: 15px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1px solid #000000;
    background-color: #c86ca2;
}

#weedle .body1 .left-foot .light
{
    top: 0;
    left: 2px;
    height:7px;
    width:10px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #fbdde0;
}

#weedle .body1 .left-foot .shadow
{
    top: 10px;
    left: 3.2px;
    height:3px;
    width:10.2px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
    background: #97446c;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#weedle .body1 .left-foot .shadow2
{
    top: 10.7px;
    left: 3.8px;
    height:4px;
    width:9.4px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 100%;
    background: #97446c;
    -webkit-transform: rotate(-190deg);
    -ms-transform: rotate(-190deg);
    transform: rotate(-190deg);
}

#weedle .body2 .left-foot
{
    top: 35px;
    left: 35px;
    height:14px;
    width: 14px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1px solid #000000;
    background-color: #c86ca2;
}

#weedle .body2 .left-foot .light
{
    top: 0;
    left: 2px;
    height:7px;
    width:10px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #fbdde0;
}

#weedle .body2 .left-foot .shadow
{
    top: 10px;
    left: 3.2px;
    height:2px;
    width:9px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
    background: #97446c;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#weedle .body2 .left-foot .shadow2
{
    top: 9.9px;
    left: 3.6px;
    height:4px;
    width:8.5px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 100%;
    background: #97446c;
    -webkit-transform: rotate(-190deg);
    -ms-transform: rotate(-190deg);
    transform: rotate(-190deg);
}

#weedle .body3 .left-foot
{
    top: 37px;
    left: 23px;
    height:14px;
    width: 14px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1px solid #000000;
    background-color: #c86ca2;
}

#weedle .body3 .left-foot .light
{
    top: 0;
    left: 2px;
    height:7px;
    width:10px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #fbdde0;
}

#weedle .body3 .left-foot .shadow
{
    top: 10.3px;
    left: 3.2px;
    height:2px;
    width:8px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
    background: #97446c;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#weedle .body3 .left-foot .shadow2
{
    top: 11px;
    left: 3.9px;
    height:3px;
    width:7.5px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 100%;
    background: #97446c;
    -webkit-transform: rotate(-190deg);
    -ms-transform: rotate(-190deg);
    transform: rotate(-190deg);
}

#weedle .body4 .left-foot
{
    top: 29px;
    left: 8px;
    height:14px;
    width: 14px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1px solid #000000;
    background-color: #c86ca2;
}

#weedle .body4 .left-foot .light
{
    top: .4px;
    left: 3.8px;
    height:6px;
    width:9px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    background: #fbdde0;
}

#weedle .body4 .left-foot .shadow
{
    top: 9px;
    left: 2px;
    height:4px;
    width:7.3px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
    background: #97446c;
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

#weedle .body4 .left-foot .shadow2
{
    top: 11px;
    left: 2px;
    height:3px;
    width:7px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 100%;
    background: #97446c;
    -webkit-transform: rotate(-165deg);
    -ms-transform: rotate(-165deg);
    transform: rotate(-165deg);
}

#weedle .body5 .left-foot
{
    top: 28px;
    left: 4px;
    height:12px;
    width: 12px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1px solid #000000;
    background-color: #c86ca2;
}

#weedle .body5 .left-foot .light
{
    top: .5px;
    left: 3.6px;
    height:6px;
    width:8px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    background: #fbdde0;
}

#weedle .body5 .left-foot .shadow
{
    top: 7.5px;
    left: 1.5px;
    height:3px;
    width:6px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
    background: #97446c;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

#weedle .body5 .left-foot .shadow2
{
    top: 8.6px;
    left: 1.2px;
    height:3px;
    width:5.7px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 100%;
    background: #97446c;
    -webkit-transform: rotate(-150deg);
    -ms-transform: rotate(-150deg);
    transform: rotate(-150deg);
}

#weedle .body6 .left-foot
{
    top: 25px;
    left: 2px;
    height:10px;
    width: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1px solid #000000;
    background-color: #c86ca2;
}

#weedle .body6 .left-foot .light
{
    top: .5px;
    left: 3px;
    height:5px;
    width:7px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    background: #fbdde0;
}

#weedle .body6 .left-foot .shadow
{
    top: 5.4px;
    left: 0.6px;
    height:3px;
    width:5.2px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
    background: #97446c;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

#weedle .body6 .left-foot .shadow2
{
    top: 7px;
    left: 0px;
    height:2px;
    width:5px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 100%;
    background: #97446c;
    -webkit-transform: rotate(-140deg);
    -ms-transform: rotate(-140deg);
    transform: rotate(-140deg);
}

/* RIGHT FEET */
#weedle .right-foot1
{
    top: 155px;
    left: -4px;
    height:15px;
    width: 15px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1px solid #000000;
    background-color: #c86ca2;

}

#weedle .right-foot1 .light
{
    top: 0;
    left: 2px;
    height:7px;
    width:10px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #fbdde0;

}

#weedle .right-foot1 .shadow
{
    top: 10px;
    left: 3.2px;
    height:3px;
    width:10.2px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
    background: #97446c;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#weedle .right-foot1 .shadow2
{
    top: 11px;
    left: 3.0px;
    height:4px;
    width:9.4px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 100%;
    background: #97446c;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#weedle .right-foot2
{
    top: 202px;
    left: 12px;
    height:15px;
    width: 15px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1px solid #000000;
    background-color: #c86ca2;
}

#weedle .right-foot2 .light
{
    top: 1px;
    left: 0px;
    height:7px;
    width:10px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #fbdde0;
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

#weedle .right-foot2 .shadow
{
    top: 10px;
    left: 3.2px;
    height:3px;
    width:10.2px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
    background: #97446c;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#weedle .right-foot2 .shadow2
{
    top: 10.7px;
    left: 3.8px;
    height:4px;
    width:9.4px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 100%;
    background: #97446c;
    -webkit-transform: rotate(-190deg);
    -ms-transform: rotate(-190deg);
    transform: rotate(-190deg);
}

#weedle .right-foot3
{
    top: 237px;
    left: 32px;
    height:13px;
    width: 13px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1px solid #000000;
    background-color: #c86ca2;
}

#weedle .right-foot3 .light
{
    top: 0;
    left: 0px;
    height:7px;
    width:10px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #fbdde0;
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

#weedle .right-foot3 .shadow
{
    top: 7px;
    left: 3.2px;
    height:3px;
    width:10.2px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
    background: #97446c;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

#weedle .right-foot3 .shadow2
{
    top: 8.2px;
    left: 4.4px;
    height:4px;
    width:9.4px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 100%;
    background: #97446c;
    -webkit-transform: rotate(-210deg);
    -ms-transform: rotate(-210deg);
    transform: rotate(-210deg);
}

#weedle .right-foot4
{
    top: 256px;
    left: 55px;
    height:13px;
    width: 13px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1px solid #000000;
    background-color: #c86ca2;
}

#weedle .right-foot4 .light
{
    top: 0;
    left: 0px;
    height:7px;
    width:10px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #fbdde0;
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

#weedle .right-foot4 .shadow
{
    top: 7px;
    left: 3.2px;
    height:3px;
    width:10.2px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
    background: #97446c;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

#weedle .right-foot4 .shadow2
{
    top: 8.2px;
    left: 4.4px;
    height:4px;
    width:9.4px;
    border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 100%;
    background: #97446c;
    -webkit-transform: rotate(-210deg);
    -ms-transform: rotate(-210deg);
    transform: rotate(-210deg);
}

/* TAIL */
#weedle .tail
{
    top: 182px;
    left: 156px;
    height:57.6px;
    width: 30px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 1px solid #000000;
    background-color: #def0e6;
    box-shadow: 0px 7px 1px #b4c5bb inset;
}

#weedle .tail .patch
{

    top: 8px;
    left: 22px;
    height: 13px;
    width: 7px;
    -webkit-transform: rotate(145deg);
    -ms-transform: rotate(145deg);
    transform: rotate(145deg);
    background-color: #def0e6;
}

#weedle .tail2
{
    top: 180px;
    left: 154px;
    height:45px;
    width: 15px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
    border-right: 1px solid #000000;
    background-color: #ffffff;
}

#weedle .tail .shadow
{

    top: 7px;
    left: -3px;
    height: 26px;
    width:38px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-transform: rotate(310deg);
    -ms-transform: rotate(310deg);
    transform: rotate(310deg);
    box-shadow: -6px 5px 1px #b4c5bb inset;
    border-right: 1px solid #000000;
}

#weedle .tail .shadow .patch
{

    top: 0px;
    left: 18px;
    height: 3px;
    width:18px;
    -webkit-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
    transform: rotate(200deg);
    background-color: #b4c5bb;
}

#weedle .tail-patch
{

    top: 200px;
    left: 134px;
    height: 8px;
    width: 46px;
    -webkit-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    transform: rotate(110deg);
    background-color: #ffffff;
}